@model IEnumerable<WebApplication8.Models.Tweet>

@{
   // WebApplication8.Models.TweetAt model1 = new WebApplication8.Models.TweetAt();
    ViewBag.Title = "LogedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Takip Ettiklerim", "users", "Home")</li>
            <li>@Html.ActionLink("Tanıyor Olabileceklerin", "allusers", "Home")</li>
            <li>@Html.ActionLink("Profilim", "KullaniciTweetGoruntule", "Home")</li>

            <li>@Html.ActionLink("Çıkış Yap", "CikisYap", "Home")</li>


        </ul>
    </div>

    <div class="tweetAt">
        @Html.Action("TweetAt")

    </div>
    <div class="container">
        <div class="panel panel-default">


            @foreach (var item in Model) {

                <div class="panel-heading" style="margin-top:10px;">@Html.DisplayFor(ModelItem => item.kullaniciNick)</div>
                <div class="panel-body">@Html.DisplayFor(modelItem => item.tweetText)</div>
                <div class="panel-footer">@Html.DisplayFor(modelItem => item.favoriSayisi) |@Html.ActionLink("Favorilere Ekle", "FavorilereEkle", new { tweetId = item.tweetID })</div>



}

        </div>
        <hr />
    </div>

